

#expand{
	color: white;
}

#desktopNavbar{
	height: 150px;
	width: 100%;
	right: 100px;
}

.user-info{
	color: lightgrey;
}

.col-height{
	height: 50px;
}

.col-sidebar{

}

.navtabs{
	position: absolute;
	bottom: 0;
	left: 50vh;
}

.content{
	width: 100%;
}

.featuredbox{
	background: lightgrey;
	border: 1px solid lightblue;
	padding: 5px;
	width: 60vw;
	margin-bottom: 50px;
}

.categories{
	width: 70vw;
}

.catList{
	display: inline-block;
	float: left;
}

.ftimage img{
	height: 100px;
	float: right;
	margin-left: 10px;
}

.dyk{
	background: lightgrey;
	border: 1px solid lightblue;

	padding: 5px;
}

.TOC{
	background: lightgrey;
	border: 1px solid lightblue;
	width: 200px;
	padding: 5px;
}

.categorybox{

	background: lightgrey;
	border: 1px solid lightblue;

	padding: 5px;
	width: 30vw;
}

.imagebox p{
	text-align: center;
}

.map{
	width: 300px;
	height: 300px;
}

.content-footer{
	background: lightgrey;
	border: 1px solid lightblue;
	padding: 7px;
	width: 344px;
}

.relatedArts{
	display: inline;
	list-style-type: none;
	padding: 5px;
}

.related{
	font-weight: bold;
	font-style: italic;
}

.relatedArts li{
	float: left;
	padding: 3px;

}

.mainContent{
	width: 100%;
	margin-right: 10px;
}

#map-container{
	height: 300px;
	width: 288px;
}

#sidebar{
	width: 200px;
	height: 100%;
	position: fixed;
	float: left;
}

.submit{
	margin-left: 5vw;
}

div.artBody div{
	width: 300px;
}

@media only screen and (max-width: 767px) {
    #mobileView {

    }
	.categorybox{

		background: lightgrey;
		border: 1px solid lightblue;

		padding: 5px;
		width: 300px;
	}

	.content{
		padding: 5px 5px 5px 5px;
	}

	#desktopView{
		display: none;
	}
	#tvView{
		display: none;
	}

}

@media only screen and (min-width: 768px)  and (max-width: 1920px){
    #mobileView {
		display: none;
    }
	.content{
		margin-left: 300px;
		width: 50vw;
	}

	#desktopView{

	}


	body{

	}
}

@media only screen and (min-width: 1921px) {
    #mobileView {

    }

	#desktopView{
		display: none;
	}


	body{
		font-size: 300%;
	}

	.content-footer{
		width: 700px;
	}

}