    <!DOCTYPE html>
    <html>

    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

        <link rel = "stylesheet" type="text/css" href=" {% static 'css/main.css'%} "/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    </head>
    <body>
      <div id = "mobileView">
      <nav class="navbar navbar-default" data-spy = "affix" data-offset-top="50" >
          <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static 'images/earth.png'%}" style = "width: 30px;"/></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-default btn-sm" href="/">Main Page</a></li>
            <li><a class="btn btn-default btn-sm" href="{% url 'allArts' %}">Directory</a></li>
            <li><a class="btn btn-default btn-sm" href="{% url 'random' %}">Random</a></li> <!-- Why won't this thing work with 'random' -->
            <li><a class="btn btn-default btn-sm" href="{% url 'write' %}">Write</a></li>
            {% if article %}
            <li><a class="btn btn-default btn-sm" href="{%url 'edit' article.slug %}">Edit</a></li>
            {% endif %}
            <li><a class="btn btn-default btn-sm" href="{% url 'help' %}">Help</a></li>
            {% if user.is_anonymous %}
            <li><a class="btn btn-default btn-sm" href="{% url 'login' %}">Login</a></li>
            <li><a class="btn btn-default btn-sm" href="{% url 'signup' %}">Create Account</a></li>
            {% else %}
              <br><br>
            <li>Welcome, <span class="user-fullname">{{user}}</span>.</li>
              <br><br>
            <li><a class="btn btn-default btn-sm" href="{%url 'logout' %}">Logout</a></li>
            {% endif %}
            <form class="navbar-form" role="search" type="get" id = "searchBarM" action="{% url 'search' %}" method="GET" accept-charset="utf-8">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control" name="sM" id = "searchText">
                            <div class="input-group-btn">
                                <button class="btn btn-primary searchD" id = "search" name="sBM"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
          </ul>
        </div>
      </div>
    </nav>
    </div>
      <div id = "desktopView">
        <nav class = "navbar navbar-default" id = "desktopNavbar">
            <div class = "container">
                <div class="navbar-header col-md-6 col-height">
                    <a class="navbar-brand" id = "earth" href="/"><img src = "{% static 'images/earth.png'%}" style="width: 150px;"/></a>

                </div>
            </div>

            {% if user.is_anonymous %}
            <form class="navbar-form navbar-right" role="form" id="loginD">
                <a class="btn btn-default btn-sm" id = "LoginD" href="{% url 'login' %}">Login</a>
                <a class="btn btn-default btn-sm" href="{% url 'signup' %}"  onclick = "ga('send', 'event', 'Create account link', 'Click', 'Success');" id = "createacctD">Create account</a>
              </form>
            {% else %}
              <div class="navbar-right user-infoD">Welcome, <span class="user-fullname">{{user}}</span> <a class="btn btn-default btn-sm" id = "LogoutD" href="{% url 'logout' %}">Logout</a></div>
            {% endif %}

            <div class = "navtabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" class = "read">Read</a></li>
                
                {% if article %}
                <li><a class = " btn btn-default btn-sm editAll" href="{% url 'edit' article.slug%}">Edit<span class = "glyphicon glyphicon-pencil"></span></a></li>
                {% endif %}
            </ul>

        </nav>
                    <form class="navbar-form" role="search" type="get" id = "searchBar" action="{% url 'search' %}" method="GET" accept-charset="utf-8">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control" name="sD" id = "searchTextD">
                            <div class="input-group-btn">
                                <button class="btn btn-primary searchD" id = "searchD" name="sBD"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </form>
            </div>

        <div class = "sidebar" id = "desktopView">
            <div class="col-md-2 col-sidebar" id="leftCol">

                    <ul class="nav nav-stacked" id="sidebar">
                      <li><a href="/">Main Page</a></li>
                      <li><a href="{% url 'allArts' %}">Directory</a></li>
                      <li><a href="{% url 'random' %}">Random</a></li>
                      <li><a href="{% url 'write' %}">Write</a></li>
                      <li><a href="{% url 'help' %}">Help</a></li>
                    </ul>

                </div>
            </div>
        </div>
      <!--<h1>YOU CAN RETURN ANY DJANGO OBJECT IN HTML</h1>
      <h1>USE URL OBJECTS FOR LOGIN AND RETURNING TO OLD PAGE</h1><br><br>-->
      <div class = "content">
      {% block content %}

      {% endblock %}
          </div>
      </body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99012705-3', 'auto');
  ga('send', 'pageview');

</script>
     <script src="{% static 'scripts/jquery-3.2.1.min.js'%}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>