<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{%extends "articles/base.html"%}

{% block title %}{% endblock %}

{% block content %}
<h1>How to: Articles</h1>
<hr>
<p>In order to write or edit anything, you need to have an account first!  Go ahead and make one or login.</p>
<br><br>
<h2>Writing an Article</h2>
<hr>
<p>To write an article, find the "write" link either to the left (desktop) or in the dropdown menu (mobile). In the
    example page, there's a whole bunch of example text.  Feel free to expand upon or subtract from this
    as you wish.</p>
<p>You might notice the links in grey and the flags in the body.  These are links and anchors, respectively, and can be found in the text editor
    at the chain icon and the flag icon respectively.  You have to set up flags before you can create links within the page.  When creating links,
    always direct them towards anchors in the page.  You can name these anchors and links as you please, so long as they fit together.</p>
<p>When creating categories and subcategories, make them logical, and try to think about where other users might expect to find them.  If,
    for example, you were to write an article about Charles Darwin, try making the category Biology and the subcategory Biologists, so that
    the article might be found in the proper portal instead of having users resort to guesswork to find articles.  Directories help!</p>


{% endblock %}
</body>
</html>