
    {%extends "articles/base.html"%}

    {%block content%}
    <h1>{{user.username}}</h1>
    <h1>{{article.title}}</h1>
    <h3>Written by <a href="{% url 'profile' article.author %}">{{article.author}}</a></h3>
    <br>
    <p>This article has
        {% if article.featured %}
            been featured!
        {% else %}
            a little ways to go before it gets featured.
        {%endif%}
    </p>
    <br><br>
    {{article.summary|safe}}
    <hr>
    <br>
    <div class = "artBody">
    {{article.body|safe}}
    </div>
    <hr>


    <div class = "categorybox">
        <p>See other articles in <a href = "{% url 'category' article.category %}">{{article.category}}</a></p>

        <p><a href = "{% url 'subcategory' article.subcategory %}">{{article.subcategory}}</a>:</p>
    </div>



    {% endblock %}
