
    {%extends "articles/base.html"%}

    {%block content%}
    <h1>{{user.username}}</h1>
    <h1>{{article.title}}</h1>
    <h3>{{article.author}}!</h3>
    <br>
    <p>This article has
        {% if article.featured %}
            been featured!
        {% else %}
            a little ways to go before it gets featured.
        {%endif%}
    </p>
    <br><br>
    {{article.summary|safe}}
    <hr>
    <br>
    <div class = "artBody">
    {{article.body|safe}}
    </div>
    <hr>
    <p><a href="{% url 'login' %}" name = "categ">{{article.category}}</a><!--Meant to be the category lookup.  Should take users to different portals.  Not working though! -->
    </p>


    {% endblock %}
