
{%extends "articles/base.html"%}

{% block title %}Main Page{% endblock %}

{% block content %}

How to set up:

[box with featured article title, summary, and link]
{%if farticle%}
<div class = "featuredbox">
    <h3>Currently Featured:</h3>
    <h1>{{farticle.title}}</h1>
    <p>{{farticle.summary|safe}}</p>
    <a href = "{% url 'article' farticle.slug%}">Read more...</a>
</div>
{%endif%}
<br><hr><br>

<div class = "categories">
    <h1>Portals for: </h1>
        {%for cat in categories %}
        <div class="catlist">
            <h4><a href = "{% url 'category' cat %}">{{cat}}</a></h4>
        </div>
        {% endfor %}
</div>

<br><br><hr><br>


<div class = "help">
    <h3>Need help getting around?  Try the help page to the left!</h3>
</div>

{% endblock %}
