
{%extends "articles/base.html"%}

{% block title %}Main Page{% endblock %}

{% block content %}

How to set up:

[box with featured article title, summary, and link]
{%if farticle%}
<div class = "featuredbox">
    <h3>Currently Featured:</h3>
    <h1>{{farticle.title}}</h1>
    <p>{{farticle.summary|safe}}</p>
    <a href = "{% url 'article' farticle.slug%}">Read more...</a>
</div>
{%endif%}
[category list]

<div class = "categories">
    <h1>Portals for: </h1>
{%for art in articles %}
    <p><a href = "{% url 'login' %}">{{art.category}}</a></p> <!-- why are categories not working -->
    {% endfor %}
</div>

[help directory]

<div class = "help">
    <h3>Need help getting around?  Try the help page to the left!</h3>
</div>

{% endblock %}
